$blue:#143BA0;
$slightBlue:#3056b8;
$deepBlue:#021c5f;
$gray:#4F4F4F;
$darkgray:#989898;
$borderColor:#E7E7E7;
$green:#007D14;
$yellow:#E3CF17;
$lightred:#FF6363;
$lightGray:#D9D9D9;
$blue-border: 1px solid $blue;
$black-border: 1px solid black;

p {
    margin: 0;
    padding: 0;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    color: $blue;
}

.full-img {
    width: 100%;
    height: 100%;
}

.no-overflow {
    overflow: hidden;
}

.rounded {
    border-radius: 50%;
}

i {
    display: inline-block;
}

button {
    border: none;
}

.divider {
    width: 110%;
    margin-left: -10px;
    margin-bottom: 10px;
    height: 1px;
    background-color: $gray;
}

.yellow-icon-bg {
    color: $yellow;
}

.blue-icon-bg {
    color: $blue;
}

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.flex-justify-down {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auto-marg {
    margin: 0 auto;
}

.reward-container {
    padding: 0px 10px;
    height: 30px;
    background-color: $blue;
    border-radius: 10px;
    .reward {
        margin: 0;
        padding: 0;
        font-size: 12px;
        color: white;
    }
}

input[type="file"] {
    display: none;
  }

@mixin mqn($width) {
    @media only screen and (min-width:$width) {
        @content;
    }
}

@mixin mqx($width) {
    @media only screen and (max-width:$width) {
        @content;
    }
}

// @include mqx(800px) {
   
// }
